@import "theme.css";

* {
	/* ignore GTK theme */
	all: initial;
	color: @main-fg;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

.module {
	margin-bottom: 0;
}

window#waybar {
	background-color: transparent;
	border: none;
	border-radius: 16px;
	box-shadow: none;
	opacity: 1;
	transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

window#waybar.hidden {
	margin-top: -38px; /* Adjust this value to your Waybar's height */
	opacity: 0;
}


#waybar > box {
	background-color: @main-bg;
	border-radius: 12px;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}
